
* {
    box-sizing: border-box;
}

html {
    background-color: #262626;
    color: #D9D9D9; 
    font-family: BokoniqueRegular, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 18px; 
    line-height: 1.8;
}

a {
    text-decoration: none;
    color: inherit;
}

a:focus {
    outline: 2px dashed #D9D9D9;
    outline-offset: 4px;
}

.App {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #0D0D0D; 
    color: #D9D9D9;
}


.Header {
       justify-content: space-between;
       width: 100%;
       padding: 20px;
       background-color: #0D0D0D;
       box-shadow: 0px 4px 12px #262626;
       color: #D9D9D9;
       font-family: EloquiaBold, sans-serif;
       align-items: center;
}

@media screen and (min-width: 768px) {
    .Header {
        display: flex;
    }
    
}

.Logo-container {
    margin-left: 10px;
}

.Header h1 {
    margin: 0;
    font-size: 1.8rem;
}

.Header span {
    font-family: EloquiaLight, sans-serif;
    font-size: 1.2rem;
    color: #8C8C8C; 
}

/* Navigation */
.Navigation {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.Link {
    text-decoration: none;
    font-family: Neuzeit, sans-serif;
    font-weight: 600;
    color: #D9D9D9;
    border-radius: 8px;
    padding: 12px 24px;

    transition: all 0.3s ease;
}

.Link:hover,
.Link:focus {
    color: #D9D9D9; 
    background-color: #0D0D0D;
    border-color: #D9D9D9;
    outline: 2px dashed #D9D9D9;
    outline-offset: 4px;
}


.IntroductionText {
    margin: 20px auto;
    max-width: 80%;
    text-align: left;
    font-size: 1.2rem;
    color: #D9D9D9;
}

.IntroductionText p {
    margin: 8px 0;
    font-size: 1rem;
    line-height: 1.8;
}


.ExamList {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}


#SessionList {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}


@media screen and (min-width: 768px) {
    #SessionList {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    }

    .ExamCard {
        max-width: 400px;
    }
}

.ExamCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    color: #D9D9D9; 
    background-color: #0D0D0D;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px #262626;
    text-align: left;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.ExamCard:hover,
.ExamCard:focus {
    transform: translateY(-5px);
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.5);
    outline: 2px dashed #D9D9D9;
    outline-offset: 4px;
}

.ExamCard h3 {
    font-family: EloquiaLight, sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 0 10px;
    color: #D9D9D9;
}

.ExamCard p {
    margin: 4px 0;
    font-size: 1rem;
    font-weight: bolder;
    color: #D9D9D9; 
}


.LocationDetails {
    display: flex;
    justify-content: space-between;
}

.LocationDetails p {
    font-size: 0.8rem;
    color: #8C8C8C;
}

.StatusDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    font-size: 0.9rem;
}


.Status.finished {
    color: #28a745;
}

.Status.pending {
    color: #8C8C8C;
}

.Status.started {
    color: #dc3545;
}

.UpdateStatusButton {
    text-decoration: none;
    font-family: Neuzeit, sans-serif;
    font-weight: 600;
    color: #D9D9D9;
    background-color: #0D0D0D;
    padding: 10px 20px;


    transition: all 0.3s ease;
    text-align: center;
    display: inline-block;
    border: 1px solid #262626;
    border-radius: 8px;
    box-shadow: 0px 4px 12px #262626;
}

.FilterContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
}

.FilterButton {
    text-decoration: none;
    font-family: Neuzeit, sans-serif;
    font-weight: 600;
    color: #D9D9D9;
    background-color: #0D0D0D;
    padding: 10px 20px;

    transition: all 0.3s ease;
    text-align: center;
    display: inline-block;
    border: 1px solid #262626;
    border-radius: 8px;
    box-shadow: 0px 4px 12px #262626;
}

.FilterButton:hover,
.FilterButton:focus {
    color: #D9D9D9;
    background-color: #262626; 
    border-color: #D9D9D9;
    outline: 2px dashed #D9D9D9; 
    outline-offset: 4px;
}

.FilterSortContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    padding: 20px;
}


.SortContainer, .FilterModal {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.SortDropdown {
    padding: 8px 12px;
    font-size: 1rem;
    border: 1px solid #8C8C8C;
    border-radius: 8px;
    background-color: #0D0D0D;
    color: #D9D9D9;
    outline: none;
    transition: all 0.3s ease;
    text-align: center;
}

.SortDropdown:focus {
    border-color: #D9D9D9;
    outline: 2px dashed #D9D9D9;
    outline-offset: 4px;
} 

.FilterModal {
    width: 100%;
    height: 100%;
}

.ModalContent {
    padding: 10px;
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.ModalTitle {
    margin: 0;
    color: #D9D9D9;
}

.ModalBody {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ModalBody label {
    font-size: 1rem;
    font-family: Neuzeit, sans-serif;
    color: #D9D9D9;
}

.ModalBody input,
.ModalBody select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #8C8C8C;
    border-radius: 8px;
    background-color: #0D0D0D;
    color: #D9D9D9;
    outline: none;
    transition: all 0.3s ease;
}

.ModalBody input:focus,
.ModalBody select:focus {
    border-color: #D9D9D9;
    outline: 2px dashed #D9D9D9;
    outline-offset: 4px;
}

.ModalFooter {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top:10px;
}

.ModalFooter .FilterButton {
    padding: 10px 20px;
    font-size: 1rem;
    font-family: Neuzeit, sans-serif;
    font-weight: 600;
    color: #D9D9D9;
    background-color: #0D0D0D;
    border: 1px solid #8C8C8C;
    border-radius: 8px;
    transition: all 0.3s ease;
}
.ModalFooter .FilterButton:hover {
    background-color: #262626;
    border-color: #D9D9D9;
    color: #D9D9D9;
}

.Button {
    background: none;
    border: none;
    color: #D9D9D9;
    font-size: 1rem;
    cursor: pointer;
}

.Button:hover {
    color: #8C8C8C;
}


@media screen and (min-width: 768px) {
    .FilterSortContainer {
        flex-wrap: nowrap;
        flex-direction: row-reverse;
    }
    .FilterModal {
        width: 50%;
    }
    .ModalContent {
        width: 100%;
        flex-direction: row;
        gap: 20px;
    }
    .ModalBody{
        display: flex;
        flex-direction: row;
        gap: 20px;

    }
    .SortContainer {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    .SessionsFilter {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
}

/* Footer */
.Footer {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #0D0D0D;
    color: #D9D9D9;
}

.Footer p {
    font-size: 0.9rem;
    font-family: BokoniqueRegular, sans-serif;
    font-weight: 100;
    margin: 0;
}

.Footer p span {
    font-family: EloquiaLight, sans-serif;
    border-bottom: 1px solid #D9D9D9;
}